body {
    overflow: hidden;
    background-image: url('snake_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#score-board {
    text-align: center;
    padding: 15px 30px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 220px;
}

#score-board div {
    font-size: 1.5em;
    color: #333;
    margin: 5px 0;
}

#game-area {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #333;
    border: 1px solid #000;
}

#snake .snake-segment {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: rgb(0, 255, 102);
    margin: 1px;
}

#snake .snake-head {
    width: 18px;
    height: 18px;
    background-color: #0f0;
}

#snake .snake-head::before, #snake .snake-head::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #000;
    border-radius: 50%;
    top: 4px;
}

#snake .snake-head::before {
    left: 4px;
}

#snake .snake-head::after {
    right: 4px;
}

#food {
    position: absolute;
    width: 23px;
    height: 23px;
    background-image: url('apple.png');
    background-size: cover;
    z-index: 1;
}
